<h1>WOHOO you're home</h1>

<p>The time is: <%= Time.now.strftime('%b %e, %l:%M %p') %></p>


<% categories = ['indian', 'thai', 'french', 'american'] %>

<ul>
  <% categories.each do |category| %>
    <li><%= category.capitalize %></li>
  <% end %>
</ul>
